body{background-image: url("../img/the-globe.jpg");
background-size: cover;}

#top-search{
    background-color: black;
    opacity: 90%;
}

#bottom-search{
    background-color: black;
    opacity: 90%;
}
