body{background-image: url("../img/the-globe.jpg");
background-size: cover;
font-family: Arial, Helvetica, sans-serif;
}

#top-search{
    background-color: black;
    opacity: 90%;
}

#bottom-search{
    background-color: black;
    opacity: 90%;
}
